<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Retro_grupp_g</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Retro_grupp_g.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />  <!-- FLYTTAD NED HIT -->

</head>

<body>
    <!--Navbar för hela hemsidan, med undantaget att den ej ska synas på startsidan.-->

    <header>
        @if (!(ViewData["Title"]?.ToString() == "Startsida"))
        {
            <nav class="navbar">
                <div class="navbar-container">
            <a asp-page="/Index" class="mynav-link">Hem</a>
            <a asp-page="/Rentals/CreateRental" class="mynav-link">Hyr</a> <!-- Länkar om till Isabelles sidor -->
            <a asp-page="/Rentals/Return" class="mynav-link">Åter</a>
            <a asp-page="/Rentals/FindFilmToRent" class="mynav-link">Sök film</a> <!-- Länkar om till Isabelles sidor -->
            <a asp-page="/Customer" class="mynav-link">Kund</a>
            <a asp-page="/Films/Index" class="mynav-link">Alla filmer</a> <!-- Länkar om till indexsida för films? -->
@*             <a asp-page="/Rentals/Fee" class="mynav-link">Avgift</a> 
                Kommenterar ut då avgift för sen eller skadad film nås via Return
 *@         <a asp-page="/Inspo" class="mynav-link">Inspo</a>
            <a asp-page="/Reports" class="mynav-link">Rapporter</a>
            <a asp-page="/Settings" class="mynav-link">Inställningar</a>
            <a asp-page="/Help" class="mynav-link">Hjälp</a>
            <a asp-page="/Logout" class="mynav-link">Logga Ut</a> <!-- amandas länk för log out -->
        </div>
    </nav>
    }
    </header>

    <div class="page">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)


    
</body>
</html>