@page
@model Retro_grupp_g.Pages.Customers.EditModel
@{
}

<h1>Redigera kund</h1>

<form method="post">
    <div class="mb-2">
        <label asp-for="Customer.StoreId" class="form-label">Butik</label>
        <select asp-for="Customer.StoreId" asp-items="Model.Stores" class="form-select"></select>
        <span asp-validation-for="Customer.StoreId" class="text-danger"></span>
   </div>
    <div class="mb-2">
        <label asp-for="Customer.AddressId" class="form-label">Adress</label>
        <select asp-for="Customer.AddressId" asp-items="Model.Addresses" class="form-select"></select>
        <span asp-validation-for="Customer.AddressId" class="text-danger"></span>
    </div>
    <div class="mb-2">
        <label asp-for="Customer.FirstName" class="form-label">Förnamn</label>
        <input asp-for="Customer.FirstName" class="form-control" />
        <span asp-validation-for="Customer.FirstName" class="text-danger"></span>
    </div>

    <div class="mb-2">
        <label asp-for="Customer.LastName" class="form-label">Efternamn</label>
        <input asp-for="Customer.LastName" class="form-control" />
        <span asp-validation-for="Customer.LastName" class="text-danger"></span>
    </div>

    <div class="mb-2">
        <label asp-for="Customer.Email" class="form-label">E-post</label>
        <input asp-for="Customer.Email" class="form-control" />
        <span asp-validation-for="Customer.Email" class="text-danger"></span>
    </div>
    <div class="form-check mb-2">
        <input asp-for="Customer.Active" class="form-check-input" />
        <label asp-for="Customer.Active" class="form-check-label"></label>
    </div>
    </form> 