@page
@model Retro_grupp_g.Pages.LoginModel
@{
    <h2>Logga in</h2>
    <br>
    <form method="post">
    <div>
        <label class="form-label">Personal:</label>
            <select asp-for="SelectedStaffId" asp-items="Model.StaffList" class="form-control" style="width: 15%;"></select>
    </div>
        <br>
    <div>
        <label class="form-label">Butik:</label>
            <select asp-for="SelectedStoreId" asp-items="Model.StoreList" class="form-control" style="width: 15%;"></select>
    </div>
        <br>
    <button type="submit" class="btn-primary">Logga in</button>
    </form>
}
