@page
@model Retro_grupp_g.Pages.Films.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Lägg till en ny film</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="form-label">Filmens titel:</label>
                <input asp-for="Film.Title" class="form-control" />
                <span asp-validation-for="Film.Title" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label class="form-label">År filmen hade premiär:</label>
                <input asp-for="Film.ReleaseYear" class="form-control" />
                <span asp-validation-for="Film.ReleaseYear" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label class="form-label">Filmens beskrivning:</label>
                <textarea asp-for="Film.Description" class="form-control"></textarea> 
                <span asp-validation-for="Film.Description" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label class="form-label">Språk:</label>
                <select asp-for="Film.LanguageId" class="form-control" asp-items="ViewBag.LanguageId"></select>
            </div>
            <br>
            <div class="form-group">
                <label class="form-label">Orginalspråk:</label>
                <select asp-for="Film.OriginalLanguageId" class="form-control" asp-items="ViewBag.OriginalLanguageId"></select>
            </div>
            <br>
            <div class="form-group">
                <label class="form-label">Kostnad att hyra - per dag:</label>
                <input asp-for="Film.RentalRate" class="form-control" />
                <span asp-validation-for="Film.RentalRate" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label class="form-label">Filmens längd (i antal minuter):</label>
                <input asp-for="Film.Length" class="form-control" />
                <span asp-validation-for="Film.Length" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label class="form-label">Kostnad för att ersätta borttappat eller skadat exemplar:</label>
                <input asp-for="Film.ReplacementCost" class="form-control" />
                <span asp-validation-for="Film.ReplacementCost" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label class="form-label">Åldersgräns/Rating:</label>
                <select asp-for="Film.Rating" class="form-control" asp-items="ViewBag.Rating"></select>
            </div>
            <br>
            <div class="form-group">
                <label class="form-label">Extramaterial:</label>
                <input asp-for="Film.SpecialFeatures" class="form-control" />
                <span asp-validation-for="Film.SpecialFeatures" class="text-danger"></span>
            </div>
            <br>
           @*
           ******************************************************************************************************************************************
                TÄNKER ATT VI I REPOT TILLDELAR PROPEN LASTUPDATETEMP SENASTE UPPDATERINGSTIDEN MHA DATETIME.NOW
                DET ÄR DVS INGET SOM SKA FYLLAS I HÄR
           ******************************************************************************************************************************************
           <div class="form-group">
                Film.LastUpdate = DateTime.Now;
                <span asp-validation-for="Film.LastUpdate" class="text-danger"></span>
            </div> 
            *@

            <div class="mt-3">
                <label class="form-label">Skådespelare</label>
                <div class="actor-box">
                    <div class="actor-grid" style="width: 100%;">
                        @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.Actors)
                        {
                            <div class="form-check">
                                <input class="form-check-input"
                                       type="checkbox"
                                       name="SelectedActorIds"
                                       value="@item.Value" />
                                <label class="form-check-label">@item.Text</label>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <br>
            <div class="mt-3">
                <label class="form-label">Kategorier</label>
                <div class="row row-cols-1 row-cols-sm-2 g-2">
                    @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.Category)
                    {
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input"
                                       type="checkbox"
                                       name="SelectedCategoryIds"
                                       value="@item.Value" />
                                <label class="form-check-label">@item.Text</label>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <br>      
            <br>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Lägg till film</button>
            </div>
        </form>
    </div>
</div>
<br>
<div>
    <a asp-page="Index" class="btn btn-primary">Tillbaka till startsidan</a>

</div>

<script>
    // Låt både "0,99" och "0.99" vara giltigt
    $.validator.methods.number = function (value, element) {
      return this.optional(element) || /^-?\d+(?:[\,\.]\d+)?$/.test(value.replace(/\s/g,''));
    };
</script>
